.treeList {
  box-sizing: border-box;
  position: relative;
  font-size: 30rpx;
  margin: 15rpx 0;
 

  .line {
    position: absolute;
    height: calc(100% - 30rpx);

    width: 0px;
    border-right: 1rpx dashed #999999;
    left: 21rpx;
    top: 49rpx;
  }



  .title {
    display: flex;
    align-items: center;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;


      height: 42rpx;
      width: 42rpx;

      margin-right: 10rpx;
      border: 2rpx solid #cccccc;
      color: #cccccc;

      .dot {
        width: 20rpx;
        height: 20rpx;
        background: #808080;
        border-radius: 50%;
      }
    }


    .text {
 
      padding: 6rpx 10rpx;
      border-radius: 10rpx;
    }
  }


}

.click-active{
  background-color: rosybrown;
}

.found-active{
  background-color: lightblue;
}